.soundBoard__container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(161, 100, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}

.soundBoard__content {
    width: 600px;
}

.soundBoard__content button {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}