@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

:root {
    --themeClock--primary-color: #000;
    --themeClock--secondary-color: #fff;
}

.themeClock__container.dark {
    --themeClock--primary-color: #fff;
    --themeClock--secondary-color: #333;
}

.themeClock__container {
    font-family: 'Heebo', sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    transition: all 0.5s ease-in;
    color: var(--themeClock--primary-color);
    background-color: var(--themeClock--secondary-color);
    position: absolute;
    top: 0;
    left: 0rem;
}

.themeClock__container button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: var(--themeClock--primary-color);
    color: var(--themeClock--secondary-color);
}

.themeClock__container .time {
    font-size: 70px;
}

.themeClock__container .date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.themeClock__container .circle {
    background-color: var(--themeClock--primary-color);
    color: var(--themeClock--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
    margin-left: 5px;
}

.themeClock__container .clock {
    position: relative;
    margin: 50px;
    height: 300px;
}

.themeClock__container .clock .needle {
    background-color: var(--themeClock--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75px;
    width: 4px;
    transform-origin: bottom center;
    transition: all 0.1s steps(60, end);
}

.themeClock__container .clock .needle.hour {
    transition: all 0.1s steps(12, end);
    transform: translate(-50%, -100%) rotate(00deg);
}

.themeClock__container .clock .needle.minutes {
    transform: translate(-50%, -100%) rotate(00deg);
    height: 150px;
}

.themeClock__container .clock .needle.seconds {
    transform: translate(-50%, -100%) rotate(00deg);
    background-color: #e74c3c;
    height: 150px;
}

.themeClock__container .clock .center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--themeClock--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}