.toastNotification__container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
}

.toastNotification__container .btn {
    background-color: #ffffff;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.toastNotification__container .btn:active {
    transform: scale(0.95);
}

.toastNotification__container #toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toastNotification__container .toast {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 30px;
}

.toastNotification__container .toast.info {
    color: rebeccapurple;
}

.toastNotification__container .toast.success {
    color: green;
}

.toastNotification__container .toast.error {
    color: red;
}