.user__info {
    display: flex;
    gap: 20px;

    img {
        border-radius: 50%;
        object-fit: cover;
        height: 50px;
        width: 50px;
    }

    h4 {
        margin: 0 0 10px;
    }

    p {
        font-size: 12px;
    }
}