@use "../../scss/mixin";
@use "../../scss/variables";

.passwordGenerator__container {
    @include mixin.FlexCenter;
    width: 100vw;
    min-height: 90vh;
    background-color: #3b3b98;
    color: variables.$color-light;
    font-family: 'Muli', sans-serif;

    h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0;
    }

    label {
        display: flex;
        justify-content: space-between;
    }

    .result__container {
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 12px 10px;
        height: 50px;
        width: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.4);

        span {
            font-size: 20px;
            word-wrap: break-word;
            color: variables.$color-light;
            border: none;
            max-width: calc(100% - 40px);
            overflow-y: scroll;
            height: 100%;
        }

        button {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 40px;
            height: 40px;
        }
    }

    button {
        border: none;
        background-color: #3b3b98;
        color: variables.$color-light;
        font-size: 16px;
        padding: 8px 12px;
        cursor: pointer;
        font-size: 20px;
    }

    button:active {
        transform: scale(0.95);
    }

    .passwordGenerator__content  {
        display: flex;
        flex-direction: column;
        background-color: #23235b;
        box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
        padding: 20px;
        width: 350px;
        max-width: 100%;
        gap: 15px
    }
}