@use '../../scss/variables';

a {
    text-decoration: none !important;
    color: inherit;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 5%;
    background-image: url('../../assests/react-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10%;
    color: map-get(variables.$theme-colors, 'light');
    position: relative;
    text-shadow: 3px 3px map-get(variables.$theme-colors, 'dark');

    .blur {
        background: map-get(variables.$theme-colors, 'secondary');
        opacity: 0.6;
        backdrop-filter: blur(8px);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
    }

    h1 {
        z-index: 1;
    }

    p {
        font-size: 3em;
        z-index: 1;
    }

    a:hover {
        text-shadow: 6px 6px map-get(variables.$theme-colors, 'dark');
        z-index: 1;
    }
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    background-color: map-get(variables.$theme-colors, 'secondary-dark');
}

.projects__container :nth-child(5) {
    border-right: none;
}

@media screen and (max-width: 1500px) {
    .projects__container :nth-child(3) {
        border-right: none;
    }
}

@media screen and (max-width: 1000px) {
    .projects__container :nth-child(2) {
        border-right: none;
    }
}
