@use "../../scss/variables";
@use "../../scss/mixin";

.stickyNavigation__container {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: variables.$color-dark;
    position: relative;

    nav {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
        font-size: 10px;
        width: 100%;

        a {
            color: variables.$color-light;
            text-decoration: none;
            padding: 7px 15px;
            transition: all 0.3s ease-in-out;
        }

        ul {
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: center;
        }

        ul .current {
            color: variables.$color-info;
        }
    }

    nav .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 100px;
        transition: all 0.3s ease-in-out;
    }

    .hero {
        background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        height: 70vh;
        color: variables.$color-light;
        @include mixin.FlexCenter;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        z-index: -2;

        h1 {
            font-size: 46px;
            margin: -20px 0 20px;
        }

        p {
            font-size: 20px;
            letter-spacing: 1px;
        }
    }

    .hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .nav.active {
        a {
            color: variables.$color-dark;
        }

        .nav__container {
            padding: 3px 100px;
            background-color: variables.$color-light;
        }
    }

    .content {
        padding: 20px 100px;

        h2,
        h3 {
            font-size: 150%;
            margin: 20px 0;
        }

        p {
            color: #555;
            line-height: 30px;
            letter-spacing: 1.2px;
        }
    }
}

.stickyNavigation__container.active {
    nav {
        position: fixed;
    }
}