@use "../../scss/mixin";
@use "../../scss/variables";

.formWave__container {
    font-family: 'Muli', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: steelblue;
    @include mixin.FlexCenter;
    color: variables.$color-light;

    h1 {
        margin: 0;
        text-align: center;
    }
}

.formWave__content {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    border-radius: 8px;
    font-size: 20px;

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 60px;
    }

    .row label {
        pointer-events: none;
        position: absolute;
    }

    .row label span {
        transform: translateY(30px);
        display: inline-block;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .row input {
        margin-top: 25px;
        padding: 8px 8px 8px 0;
        border: 0;
        font-size: 20px;
        color: var(--color-white);
        background-color: transparent;
        border-bottom: 2px solid var(--color-white);
    }

    .row input:hover {
        outline: 0;
    }

    .row input:focus {
        outline: 0;
    }

    .row input:focus,
    .row input:valid {
        border-bottom: 2px solid lightblue;
    }

    .row input:focus+label span,
    .row input:valid+label span {
        color: lightblue;
        transform: translateY(0px);
    }

    button {
        width: 100%;
        padding: 10px;
        background: lightblue;
        border: 0;
        border-radius: 5px;
        font-size: 20px;
    }

    button:active {
        transform: scale(0.98);
    }

    a {
        color: lightblue;
    }
}