@use '../../../scss/variables';
@use "../../../scss/mixin";

.project__container {
    @include mixin.backgroundImageStyle;
    background-color: variables.$color-light;
    position: relative;
    width: 20%;
    border-bottom: 2px solid variables.$color-secondary;
    border-right: 2px solid variables.$color-secondary;
    color: variables.$color-light;

    .day {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 15px;
        font-size: 20px;
        border-bottom-left-radius: 10px;
        background-color: variables.$color-secondary-dark;
    }

    .project__info {
        @include mixin.FlexCeter;
        @include mixin.sameParentWH;
        flex-direction: column;
        padding: 25% 0;
        min-width: 300px;
        background-color: variables.$color-secondary;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        button {
            padding: 10px 20px;
            cursor: pointer;
            border: 0;
            color: variables.$color-light;
            background-color: variables.$color-secondary-dark;
        }

        button:active {
            transform: scale(0.9);
        }
    }
}

.project__container:hover {
    .day {
        opacity: 0;
    }
    .project__info {
        opacity: 1;
    }
}


@media screen and (max-width: 1500px) {
    div.project__container {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 1000px) {
    div.project__container {
        width: 50%;
    }
}