@use "../../scss/mixin";
@use "../../scss/variables";

.incrementCounter__container {
    font-family: 'Roboto Mono', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #8e44ad;
    @include mixin.FlexCenter;
    color: variables.$color-light;
    gap: 100px;
}

.incrementCounter__content {
    text-align: center;

    .counter {
        font-size: 50px;
    }   
}

@media (max-width: 600px) {
    .incrementCounter__container {
      flex-direction: column;
    }
  }