@use "../../scss/mixin";
@use "../../scss/variables";

.expandingCards__container {
    display: flex;
    width: 100vw;
    padding: 50px;
    font-family: 'Muli', sans-serif;
}

.expandingCards__cards {
    height: 90vh;
    @include mixin.backgroundImageStyle;
    cursor: pointer;
    border-radius: 40px;
    flex: 0.5;
    margin: 10px;
    position: relative;
    color: var(--color-white);
    -webkit-transition: all 700ms ease-in;
}

.expandingCards__cards h3 {
    position: absolute;
    bottom: 5px;
    left: 40px;
    font-size: 30px;
    opacity: 0;
}

.expandingCards__cards.active {
    flex: 5;
}

.expandingCards__cards.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    color: variables.$color-light;
}