
@use "./scss/reset";
@use "./scss/fontfamily";
@use "./scss/variables";
@use "./scss/mixin";

// Home page
@use "./pages/Home/home";

// Navigation bar
@use './components/navBar/navBar';

// Footer
@use './components/footer/footer';

// Projects
@use "./pages/Home/project/project";

// Components
@use "./components/01-expanding-cards/expandingCards";
@use "./components/02-progress-step/progressStep";
@use "./components/03-rotation-navigation-animation/rotationNavAnimation";
@use "./components/04-hidden-search/hiddenSearch";
@use "./components/05-blurry-loading/blurryLoading";


// Import fa css
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}