@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --color-white: #fff;
}

html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}