


@use "./scss/reset";
@use "./scss/fontfamily";
@use "./scss/variables";
@use "./scss/mixin";

// Home page
@use "./pages/Home/home";

// Navigation bar
@use './components/navBar/navBar';

// Footer
@use './components/footer/footer';

// Projects
@use "./pages/Home/project/project";

// Pagination
@use "./components/pagination/pagination";

// Components
@use "./components/01-expanding-cards/expandingCards";
@use "./components/02-progress-step/progressStep";
@use "./components/03-rotation-navigation-animation/rotationNavAnimation";
@use "./components/04-hidden-search/hiddenSearch";
@use "./components/05-blurry-loading/blurryLoading";
@use "./components/06-scroll-animation/scrollAnimation";
@use "./components/07-split-landing-page/splitLandingPage";
@use "./components/08-form-wave/formWave";
@use "./components/09-sound-board/soundBoard";
@use "./components/10-dad-joke/dadJoke";
@use "./components/11-event-keycode/eventKeycode";
@use "./components/12-faq-collapse/faqCollapse";
@use "./components/13-random-choice-picker/randomChoicePicker";
@use "./components/14-animated-navigation/animatedNavigation";
@use "./components/15-increment-counter/incrementCounter";
@use "./components/16-drink-water/drinkWater";
@use "./components/17-movie-app/movieItem/movieItem";
@use "./components/17-movie-app/movieApp";
@use "./components/18-background-slider/backgroundSlider";
@use "./components/19-theme-clock/themeClock";
@use "./components/20-button-ripple-effect/buttonRippleEffect";
@use "./components/21-drag-n-drop/dragNdrop";
@use "./components/22-drawing-app/drawingApp";
@use "./components/23-kinetic-loader/kineticLoader";
@use "./components/24-content-placeholder/contentPlaceholder";
@use "./components/25-sticky-navigation/stickyNavigation";
@use "./components/26-double-vertical-slider/doubleVerticalSlider";
@use "./components/27-toast-notification/toastNotification";
@use "./components/28-github-profile/githubProfile";
@use "./components/29-double-click-heart/doubleClickHeart";
@use "./components/30-auto-text-effect/autoTextEffect";
@use "./components/31-password-generator/passwordGenerator";
@use "./components/32-good-cheap-fast/goodCheapFast";
@use "./components/33-notes-app/noteApp";
@use "./components/34-animated-countdown/animatedCountdown";
@use "./components/35-image-carousel/imageCarousel";
@use "./components/36-hover-board/hoverBoard";
@use "./components/37-poke-dev/pokeDev";
@use "./components/38-moblie-tab-navigation/mobileTabNavigation";
@use "./components/39-password-strength-background/passwordStrengh";
@use "./components/40-boxes-background/boxesBackground";
@use "./components/41-verify-account-ui/verifiyAccountUI";
@use "./components/42-live-user-filter/liveUserFilter";
@use "./components/42-live-user-filter/userInfo/userInfo";
@use "./components/43-facebook-ui-design/facebookUIDesign";
@use "./components/44-custom-range-slider/customRangeSlider";
@use "./components/45-netflix-mobile-navigation/netflixMobileNavigation";


// Import fa css
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

// Import tailwind
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
