@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin sameParentWH {
    width: 100%;
    height: 100%;
}

@mixin backgroundImageStyle {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}