$color-primary:         #1266F1;
$color-secondary:       #B23CFD;
$color-secondary-dark:  #4A148C;
$color-success:         #00B74A;
$color-info:            #F93154;
$color-warning:         #FFA900;
$color-danger:          #39C0ED;
$color-light:           #FBFBFB;
$color-dark:            #262626;
$color-fill:            #3498db;
$color-empty:           #e0e0e0;