@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.autoTextEffect__container {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darksalmon;
}

.autoTextEffect__container h1 {
    font-size: 50px;
}

.autoTextEffect__container label{
    position: absolute;
    bottom: 0;
    font-size: 25px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.autoTextEffect__container label input {
    width: 50px;
    padding: 5px;
    font-size: 25px;
    background-color: darksalmon;
    border: none;
    text-align: center;
    margin-left: 5px;
}

.autoTextEffect__container label input:focus {
    outline: none;
}