.doubleVerticalSlider__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.doubleVerticalSlider__container button {
    position: absolute;
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    top: 50%;
    left: 35%;
}

.doubleVerticalSlider__container button:hover {
    color: #222;
}

.doubleVerticalSlider__container .Up {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.doubleVerticalSlider__container .Down {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.doubleVerticalSlider__container .left--slider {
    height: 100%;
    width: 35%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.doubleVerticalSlider__container .left--slider>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-size: 25px;
}

.doubleVerticalSlider__container .left--slider h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.doubleVerticalSlider__container .right--slider {
    height: 100%;
    width: 65%;
    position: absolute;
    left: 35%;
    transition: transform 0.5s ease-in-out;
}

.doubleVerticalSlider__container .right--slider>div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}