@use "../../scss/mixin";
@use "../../scss/variables";

.dragNdrop__container {
    width: 100vw;
    min-height: 100vh;
    @include mixin.FlexCenter;
    background-color: steelblue;

    .empty {
        height: 200px;
        width: 200px;
        margin: 10px;
        border: solid 3px variables.$color-dark;
        background: variables.$color-light;
    }

    .fill {
        background-image: url('https://source.unsplash.com/random/200x200');
        height: 195px;
        width: 195px;
        cursor: pointer;
    }

    .hold {
        border: solid 10px #ccc;
    }

    .hovered {
        background-color: variables.$color-dark;
        border-color: variables.$color-light;
        border-style: dashed;
    }
}
